div#header
    //-headers for each file
    a(href="/") Home
    |
    |
    |
    a(href="/products") Products
    |
    |
    |
    a(href="/cart") Cart
    |
    |
    |
    a(href="/users") Users
    |
    |
    |
    if !user
        a(href="/login") Login
        |
        |
        |
    if admin
        a(href='/admin') Admin
        |
        |
        |
    if user    
        a(href='/logout') Logout


