doctype html
html(lang="en")
    head
        title Home
body
    include ./headers
    script(src='../home.js')
    h1 Welcome to the homepage.
    h2 TO DO: 
    p implement featured products
    p add sort by price, category, stock, on sale, and pagination 
    p CSS
    h2 Implemented features:    
    p add a cart 
    p add images to products 
    p implement adding/changing products through a form 
    p user accounts 
    p product reviews 
    p order history
    p and more!