doctype html
html(lang="en")
    head
        title Edit products
body
    include ./headers
    script(src='../productform.js')
    div(id = "editForm")
        h2 Edit existing products
        div(id = "categoryDiv")
            h2 Select a category:
            select(onchange = "categorySelected()" id="categorySelect")
                option(value="-1") Select
                each category in categories 
                    option(value=category)=category
        div(id = "productDiv")
        div(id="formDiv")               
    div(id="newFormPrompt")   
        h2 Create a product      
        button(onclick="newForm()") Create a new product 
    div(id="newForm")


